@media screen and (max-width: 618px) {
  html, body {
    min-width: auto;
  } 	
  .wrapper-back {
    width: auto;
  }
  .wrapper-img {
    display: none !important;
  }
  .page_head-content-img {
    height: 180px !important;
    max-width: 100%;
    margin: 0;
  }
  .front-img {
    background-size: cover;
    max-width: 100%;
    height: 280px !important;
    margin: 0;
  }
  .front-img h1 {
    display: block;
    position: absolute;
    left: 30px;
    top: 10px;
    color: #ffffff;
    line-height: 92%;
    text-shadow: #000 0px 0px 10px;
  }
  .container {
    padding: 0;
  }
  .container > .navbar-header {
    margin: 0;
    padding-right: 10px;
    padding-left: 10px;
  }
  .header .navbar-nav li > a {
    padding: 0;
  }
  .header .navbar-brand {
    margin: 0;
  }
  .header.header__static .navbar-brand {
    height: 50px;
  }
  .navbar-nav > li > a {
    padding: 0;
  }
  .nav > li > a {
    padding: 0;
  }
  .nav > li{
    padding-left: 10px;
  }
  .header .navbar-nav {
    margin: 9px 0px 0px;
    background: #FFFFFF;
  }
  .navbar {
    border: none;
  }
  .header-nav-right {
    margin: 0;
    padding-right: 10px;
    padding-left: 10px;
    background: #ffffff;
  }
  .header-nav-right-tel {
    margin: 0;
  }
  .row {
    margin:0;
  }
  .projects {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
  .mobile-menu {
    display: block !important;
    margin-top: 5px;
  }

  .header.header__static .navbar-nav {
    margin-top: 0px;
    background-color: rgb(230, 230, 230);
  }
  .header.header__static .navbar-right,
  .header.header__static .header-nav-right {
    background-color: rgb(230, 230, 230);
  }
  .page_content {
    padding: 0px;
  }
  .footer-list {
    display: none;
  }
  .footer-contacts {
    margin-top: 20px;
    text-align: left;
  }
  .footer-contacts .footer-tel {
    font-size: 32px;
  }
  .footer-bottom {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .wrapper-back {
    padding-bottom: 0px;
  }
  .page-content {
    margin-bottom: 0px;
  }
  .person_popup {
    width: auto;
  }
  .form, .form-input {
    width: auto;
  }
  .form-message {
    padding: 0px 5px;
    width: auto;
  }
  .form-submit {
    padding: 10px 14px;
    font-size: 20px;
  }
  .site-button {
    display: none;
  }
  .col-xs-employee {
    width: 100%;
  }
  h1 {
    font-size: 26px;
  }
  h2 {
    font-size: 26px;
  }
  .mfp-container {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .thank_you-text {
    position: initial;
    padding: 10px 20px;
    margin-left: 0px;
    height: auto;
    width: auto;
  }
  .headline {
    font-size: 1.5em;
    width: 300px;
    margin-left: -150px;
    top: 150px;
  }
  .pull-right {
    float: none !important;
    margin: 0px 0px 10px !important;
  }
  .portfolio-gallery-thumbnail a {
    font-size: 26px;
  }
  .page_content h2 {
    margin-top: 30px;
    margin-bottom: 15px;
  }
  .slider-title h1 {
    font-size: 20px;
    margin-left: 0px;
  }
  .slider {
    height: 300px;
  }
  .slider-bottom-panel {
    height: 70px;
    bottom: 0px;
    top: 230px;
    margin-top: 0px;
    padding-top: 0px;
  }
  .slider-bottom-panel .col-xs-3,
  .slider-bottom-panel .col-xs-9 {
    padding: 0px;
  }
  .slider-bottom-panel p {
    font-size: 14px;
    margin-right: 0px;
    line-height: 1.2em;
    padding-right: 10px;
    margin-bottom: 0px;
    padding-top: 5px;
  }
  .slider-nav-link {
    margin: 0px;
    padding: 5px;
    width: 16px;
    height: 16px;
  }
  .slider-nav-link:after {
    border-radius: 8px;
    width: 16px;
    height: 16px;
  }
  .slider-nav {
    padding-top: 23px;
  }
  .slider-slide-link {
    position: initial !important;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgba(255, 255, 255, 0.4);
  }
  .slider-slide-img .col-xs-12 {
    padding: 0px;
  }
  .slider-slide-img .col-xs-12 a {
    margin-right: 10px;
  }
  .slider-title {
    margint-left: 0px;
    top: 162px;
  }
  .slider-title h1 {
    margin: 0px;
    padding-right: 12px;
  }
  .header.header__landing {
    top: 300px;
  }
  .wrapper-page, .page {
    height: 300px;
  }
  .review-author {
    flex: 0 0 100%;
  }
  .page-bottom {
    position: initial;
  }
  .service-icon {
    margin-bottom: 40px;
  }
  .price {
    height: auto;
  }
  .price-calc-0,
  .price-calc-1,
  .price-calc-2,
  .price-calc-3,
  .price-calc-4 {
    width: 100%;
  }
  .price-calc-main > div {
    display: inline-block;
  }
  .price-calc-main {
    display: block;
  }
  .price-calc-1, .price-calc-3 {
    padding-top: 0px;
    padding-bottom: 4px;
  }
  .price-calc-center {
    margin-bottom: 0px;
  }
  .price-calc {
    margin-bottom: 60px;
  }
  .price-calc-desc,
  .price-calc-desc-block {
    height: auto;
  }
  #how_work .stages .stage {
    width: 100%;
    display: inline-block;
    padding-bottom: 20px;
    padding-left: 0px;
  }
  #how_work .stages .stage:after {
    display: none;
  }
  #how_work .stages .stage:first-child img {
    display: none;
  }
  #how_work .stages .stage .special {
    position: initial;
    bottom: 0px;
    line-height: 100% !important;
    margin-left: 0px;
    padding-top: 10px;
    margin-bottom: 20px;
  }
  #map {
    height: 400px !important;
  }
  #opportunities {
    display: none;
  }
  #reviews {
    display: none;
  }

  #how_work .description .stage.selected.point_pos_1:after,
  #how_work .description .stage.selected.point_pos_2:after,
  #how_work .description .stage.selected.point_pos_3:after,
  #how_work .description .stage.selected.point_pos_4:after,
  #how_work .description .stage.selected.point_pos_5:after {
    left: 58px;
  }
  #how_work .description .stage.selected.point_pos_1:before,
  #how_work .description .stage.selected.point_pos_2:before,
  #how_work .description .stage.selected.point_pos_3:before,
  #how_work .description .stage.selected.point_pos_4:before,
  #how_work .description .stage.selected.point_pos_5:before {
    left: 60px;
  }
}
