@keyframes appear {
    0%{ opacity:0 }
    100%{ opacity: 1}
}

@keyframes hide {
    0%{ opacity:1 }
    100%{ opacity: 0}
}

@keyframes pen-move {
	0% { transform: translateX(0px); transform: translateY(0px); }
	50% { transform: translateX(-10px); }
	100% { transform: translateY(25px);}
}

@keyframes lamp-move {
	0% { transform: translateX(0px); transform: translateY(0px); }
	100% { transform: translateX(-10px);}
}

@keyframes big-move {
	0% { transform: translateX(0px); transform: translateY(0px); }
	100% { transform: translateX(20px);}
}

@keyframes small-move {
	0% { transform: translateX(0px); transform: translateY(0px); }
	100% { transform: translateY(10px);}
}

@keyframes house-enlarge {
	0% { transform: scale(1); }
	100% { transform: scale(1.1);}
}

@keyframes pen2-rotate {
	0% { transform: rotate(0deg) translateX(-10px); }
	100% { transform: rotate(-30deg) translateX(-10px);}
}

@keyframes ruler-rotate {
	0% { transform: rotate(-15deg) translateX(10px); }
	100% { transform: rotate(15deg) translateX(10px);}
}

.service-icon svg {
	display: block;
	margin: 0 auto;
}

.service-icon {
	text-align: center;
	margin-bottom: 30px;
	height: 160px;
	cursor: pointer;
}

.service-icon #mark1 {
	opacity: 0;
}

.service-icon #mark2 {
	opacity: 0;
}

.service-icon #puff {
	opacity: 0;
}

.service-icon #lamp {
	transform: translateX(0px);
}

.service-icon #small-picture {
	transform: translateY(0px);
}

.service-icon #big-picture {
	transform: translateX(0px);
}

.service-hide svg {
	height: 0px;
}

.service-text {
	padding-top: 10px;
	text-align: left;
	display: none; 
}

.service-icon #brand1,
.service-icon #brand2 {
	opacity: 1;
}
.service-icon #brand3 {
	opacity: 0;
}

.service-icon #ruler {
	transform: translateX(10px) rotate(-15deg);
	transform-origin: 65px 105px;
}

.service-icon #pen2 {
	transform: translateX(-10px);
	transform-origin: 105px 125px;
}

.service-icon:hover #pen {
	-webkit-animation: pen-move 1s linear forwards;
    -moz-animation:    pen-move 1s linear forwards;
    -o-animation:      pen-move 1s linear forwards;
    -ms-transition:    pen-move 1s linear forwards; 
    animation:         pen-move 1s linear forwards;
}

.service-icon:hover #lamp {
	-webkit-animation: lamp-move 500ms linear forwards;
    -moz-animation:    lamp-move 500ms linear forwards;
    -o-animation:      lamp-move 500ms linear forwards;
    -ms-transition:    lamp-move 500ms linear forwards; 
    animation:         lamp-move 500ms linear forwards;
}

.service-icon:hover #big-picture {
	-webkit-animation: big-move 500ms linear forwards;
    -moz-animation:    big-move 500ms linear forwards;
    -o-animation:      big-move 500ms linear forwards;
    -ms-transition:    big-move 500ms linear forwards; 
    animation:         big-move 500ms linear forwards;
}

.service-icon:hover #small-picture {
	-webkit-animation: small-move 500ms linear forwards;
    -moz-animation:    small-move 500ms linear forwards;
    -o-animation:      small-move 500ms linear forwards;
    -ms-transition:    small-move 500ms linear forwards; 
    animation:         small-move 500ms linear forwards;
}

.service-icon:hover #house {
	-webkit-animation: house-enlarge 500ms linear forwards;
    -moz-animation:    house-enlarge 500ms linear forwards;
    -o-animation:      house-enlarge 500ms linear forwards;
    -ms-transition:    house-enlarge 500ms linear forwards; 
    animation:         house-enlarge 500ms linear forwards;
}

.service-icon:hover #ruler {
	-webkit-animation: ruler-rotate 500ms linear forwards;
    -moz-animation:    ruler-rotate 500ms linear forwards;
    -o-animation:      ruler-rotate 500ms linear forwards;
    -ms-transition:    ruler-rotate 500ms linear forwards; 
    animation:         ruler-rotate 500ms linear forwards;
    /* -webkit-animation: ruler-move 500ms linear forwards;
    -moz-animation:    ruler-move 500ms linear forwards;
    -o-animation:      ruler-move 500ms linear forwards;
    -ms-transition:    ruler-move 500ms linear forwards; 
    animation:         ruler-move 500ms linear forwards; */
}

.service-icon:hover #pen2 {
	-webkit-animation: pen2-rotate 500ms linear forwards;
    -moz-animation:    pen2-rotate 500ms linear forwards;
    -o-animation:      pen2-rotate 500ms linear forwards;
    -ms-transition:    pen2-rotate 500ms linear forwards; 
    animation:         pen2-rotate 500ms linear forwards;
}

.service-icon:hover #mark1, .service-icon:hover #puff {
	-webkit-animation: appear 500ms linear 500ms forwards;
    -moz-animation:    appear 500ms linear 500ms forwards;
    -o-animation:      appear 500ms linear 500ms forwards;
    -ms-transition:    appear 500ms linear 500ms forwards; 
    animation:         appear 500ms linear 500ms forwards;
}

.service-icon:hover #brand1 {
	-webkit-animation: hide 300ms linear 300ms forwards;
    -moz-animation:    hide 300ms linear 300ms forwards;
    -o-animation:      hide 300ms linear 300ms forwards;
    -ms-transition:    hide 300ms linear 300ms forwards; 
    animation:         hide 300ms linear 300ms forwards;
}

.service-icon:hover #brand2 {
	-webkit-animation: hide 300ms linear 500ms forwards;
    -moz-animation:    hide 300ms linear 500ms forwards;
    -o-animation:      hide 300ms linear 500ms forwards;
    -ms-transition:    hide 300ms linear 500ms forwards; 
    animation:         hide 300ms linear 500ms forwards;
}

.service-icon:hover #brand3 {
	-webkit-animation: appear 300ms linear 900ms forwards;
    -moz-animation:    appear 300ms linear 900ms forwards;
    -o-animation:      appear 300ms linear 900ms forwards;
    -ms-transition:    appear 300ms linear 900ms forwards; 
    animation:         appear 300ms linear 900ms forwards;
}

.service-icon:hover #mark2 {
	-webkit-animation: appear 500ms linear 1s forwards;
    -moz-animation:    appear 500ms linear 1s forwards;
    -o-animation:      appear 500ms linear 1s forwards;
    -ms-transition:    appear 500ms linear 1s forwards; 
    animation:         appear 500ms linear 1s forwards;
}

