
$DarkBrown: #292321;

$Orange: #CC3300;


input[type="radio"] {
  display:none;
  + label {
    font-size:15px;
    color: $black;
    line-height: 34px;
    font-family: $mmedium;
    letter-spacing: 0.02em;
    transition: .3s;
    span {
      display:inline-block;
      width:26px;
      height:26px;
      cursor:pointer;
      border-radius:  50%;
      transition: .3s;
      box-sizing: border-box;
      border: 1px solid #e3e3e3;
      background-color: #f8f8f8;
      position: relative;
      &:before {
        content: '';
        display: inline-block;
        width: 12px;
        height: 12px;
        position: absolute;
        top: 6px;
        left: 6px;
        background-color: $white;
        border-radius: 50%;
        transition: .3s;
      }
    }
  }
  &:checked {
    + label {
      font-family: $mblack!important;
      span{
        &:before {
          content: '';
          display: inline-block;
          width: 12px;
          height: 12px;
          position: absolute;
          top: 6px;
          left: 6px;
          background-color: $red;
          border-radius: 50%;
        }
        transition: .3s;
      }
    }

  }
}