.draft {
  min-height: 740px;
  background: url(../img/draft/draft__bg.jpg) no-repeat center center;
  box-sizing: border-box;
  padding-top: 158px;
  &__title {

  }
  &__subtitle {
    font-family: $mlighti;
    font-size: 20px;
    letter-spacing: 0.04em;
    color: $black;
    padding: 23px 0 39px;
  }
  &__description {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.02em;
    font-family: $mlight;
  }
  &__btn {
    text-decoration: none;
    margin-left: 0;
    margin-top: 53px;
  }
}