.reward {
  padding-bottom: 117px;
  &__title {
    text-align: center;
    padding-bottom: 33px;
    &:before {
      background-color: $green;
    }
  }
  &__fieldsets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__description {
    display: flex;
    padding-top: 12px;
    align-items: center;
    img {
      margin-right: 24px;
    }
    &-info {
      p {
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 0.02em;
        font-family: $mlight;
        color: $black;
        &:last-child {
          font-size: 13px;
          line-height: 24px;
          color: #999999;
        }
      }
    }
  }
}

fieldset {
  position: relative;
  border: 8px solid $green;
  padding-left: 42px;
  padding-bottom: 42px;
  width: 582px;
  box-sizing: border-box;
  &.fieldsets-right {
    padding-right: 43px;
    legend {
      text-align: right;
    }
  }
  &.fieldsets-center {
    width: 100%;
    border-color: $red;
  }
  legend {
    padding: 19px;
    margin-left: 21px;
    font-size: 22px;
    line-height: 34px;
    letter-spacing: -0.012em;
    font-family: $mregular;
    color: $black;
  }
}
